<h1>Welcome <%=@user.first_name%></h1>
<p> Interested in: <%= @user.interest %> </p><br>
<p> About me: <%= @user.bio %> </p><br>
<p> Picture: <%= @user.img_url %> </p><br>

 

<p>Find me in app/views/users/show.html.erb</p>
