<h1>Events</h1>

<% @events.each do |event|%>
<ul><h3><%= link_to event.name, event%></h3>
<h4>Category: <%=event.category%> <br>
Description: <%=event.description%><h4></ul>
Time: <%=event.time%><h4></ul>
<br>
<br>
<%end%>



