<h1><%=Event.name%></h1>

<h1><%=@event.name%></h1>


<br>
<br>
<br>
<h2>Description</h2>
<hr>
<%=@event.description%></p>
<br>
<br>
<br> Catergory <br>
<%@event.catergory.each do |cat|%>
<%=cat%><br>
<%end%>


