<h1>My Events</h1>
<% @user_events.each do |ue| %>
    <%= link_to ue.event.name, event_path(ue.event) %><br>
    <h4>Description:<%= ue.event.description %></h4>
    <h4>Time:<%= ue.event.time %> </h4>
    <h4>City: <%= ue.event.location.city %> </h4>
<% end %>