<h1>UserEvents#new</h1>
<%= form_for @user_event do |f| %>
    <%= f.collection_select(:user_id, User.all, :id, :first_name) %> <br>
    <%= f.collection_select(:event_id, Event.all, :id, :city) %><br><br>
    <%= f.submit %>

<% end %>

<p>Find me in app/views/user_events/new.html.erb</p>
