<h1>UserEvents hello <%= session[:user_id]%><#new</h1>
<%= form_for @user_event do |f| %>
    
    Click button if you want to register for the event
    <%= f.submit %>

<% end %>

<p>Find me in app/views/user_events/new.html.erb</p>
